<div class="card w-25 imagen" style="width: 18rem;">
  <img class="card-img-top" src="assets/image/quiensoy.jpg" alt="Card image cap">
  <div class="card-body">
      <h5 class="card-title">¿ Quien soy ?</h5>
      <p class="card-text">Soy <b>Santiago Gonzalez</b> estudiante de tecnicatura universitaria en programación y tecnico de sistemas</p>
      <a href="https://github.com/SantiGO055/tpSalaDeJuegos" target="_blank" class="btn btn-primary">Github de proyecto<img src="assets/image/githublogo.png" class="logoGithub"></a>
    </div>
  

  <footer>
      <div class="boton">
          <button class="btn btn-outline-primary" [routerLink]="'/'">Volver</button>
      </div>

  </footer>

</div>