div.imagen {
    width: 40%;
    margin: 0 auto 0 auto;
    padding: 5px;
    font-family: "Roboto", sans-serif;
}
img{
    background-color: #000000;
}
div.imagen img { 
    max-width: 100%; 
}
.container{
    display:flex;
    align-items: center;
}
.boton{
    display:flex;
    align-items: center;
    justify-content: center;
}
.logoGithub{
    background: transparent;
    width: 5%;
    /* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=’img/esquina.png’); */
}
.navbar-custom{
    color: #c5f0a4;
    background-color: #226b80;
}
.btn{
    
    background-color: #faffb8;
}
.btn:hover{
    background-color: #35b0ab;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn:focus{
    background: #35b0ab!important;
}
  
.btn:active{
    background: #35b0ab!important;
}

a{
    color: #35b0ab;
    
    
}
a:hover{
    color: #c5f0a4;
}
