body{
    display: block;
    width: 620px;
    margin: 0 auto;
  
    

}
hr {
    border: none;
  }
.start {
    color: green;
    border-color: darkseagreen;
}

button {
    border: 1px solid;
    background: white;
    display: inline-block;
    padding: 1em;
    margin-right: 2em;
}