<app-navbar></app-navbar>
<!-- <app-weather></app-weather> -->
<div class="container">
  <div class="row">
    <div class="col">
        <!-- <app-mensajes></app-mensajes> -->
    </div>
    <div class="col-6">
        <!-- <app-logged class="logged" name="usuario" [usuario]="usuario"></app-logged> -->
    </div>
    <div class="col">
      
    </div>
  </div>
  <div class="row">
    <div class="col">
        
    </div>
    <div class="col-5">
      
    </div>
    <div class="col">
    </div>
  </div>
  
  <app-sala-chat></app-sala-chat>
  <!-- <button class="chat-popup" type="button"></button> -->
  
</div>

