
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
    
}
.chat-message{
    
    flex-wrap: wrap;
    flex-flow: column wrap;
    
    
}

.chat-message .right-bubble {
    position: relative;
    margin-left: 45%;
    margin-right: 10%;
    background: #dcf8c6;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 0%;
    flex-direction: column;
    flex-wrap: wrap ;
    word-wrap: break-word;


  }
  .chat-message .left-bubble {
    position: relative;
    margin-left: 0%;
    margin-right: 10%;
    background: lightblue;
    border-top-right-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 3%;
    flex-direction: column;
    flex-wrap: wrap ;
    word-wrap: break-word;

  }

.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 400px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(61, 59, 59);
}
.scrollBody{
    scroll-margin: 0 0 50% 0;
}

/**/

.container{
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	/* letter-spacing: 2px; Espacio entre letras */
	/* padding: 18px 30px; Relleno del boton */
	position: fixed;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn{
    background-color: #4b778d;
    color: #faffb8 !important;
    border: 0 !important;
}
.btn:hover{
    background-color: #35b0ab !important;
    
}
.btn:active{
    background: #35b0ab!important;
}
.btn:focus{
    background: #35b0ab!important;
}


.messageData{
    flex: 1;
    padding: 10px;
    font-size: 0.7em;
}

.sender{
    display: block;
    color: #222;
    font-weight: bold;
}

.isOwnSender{
    color: #E1F5FE;
}

.timestamp {
    font-size: 13px;
    color: #555;
    font-style: italic;
}


.messageContent{
    height: auto;
    /* flex: 9; */
    background-color: #fff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-wrap: wrap;
    margin-right: 10%;
    flex-direction: column;
    flex-basis: 100%;

}

.isOwnMessageContent{
    background-color: #E3F2FD;
    color: #01579B;
}
.imagen{
    width: 100%;
    background-color: transparent;
    
}
.btnDesplegarChat{
    display: flex;
    width: 10%;
    background-color: transparent;
    border:none;
}

.btnDesplegarChat:active{
    background: transparent !important;
    outline: none !important;
    
    border-color: tomato !important;
}
.btnDesplegarChat:focus{
    background: transparent !important;
    outline: none !important;
    
}
