.card{
    margin: 2% 0 0 0;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.btn{
    background-color: #faffb8;
}
.btnBorrar{
    width: 30%;
    margin-left: 80%;
    background-color: #f05945;
    color: #c5f0a4;
}
.btnEditar{
    width: 30%;
    margin-left: 80%;
    background-color: #c5f0a4;
}
.btn:hover{
    background-color: #35b0ab !important;
}
.btn:active{
    background: #35b0ab!important;
}
.btn:focus{
    background: #35b0ab!important;
}
.botonesResultado{
    display:flex;
    flex-direction: column;
    
}
.mensajeLogueado{
    background-color: greenyellow;
}
