.tick-tack-grid{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.botones{
    display:flex;
    flex-direction: column;
}
.button{
    margin-top: 3% !important;
}