<app-navbar></app-navbar>
<!-- <div class="contenedorTarjetas grid" >

    <div class="card-deck" >
        <div class="row">
            <div clas="col-sm" >

                <div class="" >
                    <img *ngFor="let imagen of cardImagesUrl" [src]="imagen">
                </div>
            </div>
        
            <div clas="col-sm" >

                <div class="" >
                    <img *ngFor="let imagen of cardImagesUrlAux" [src]="imagen">
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="tiempo">
    <app-cronometro  [juegoIniciado]="juegoIniciado" (emitirSegundosTranscurridos)="obtenerSegundos($event)"></app-cronometro>

</div>
<div class="memotest">
      <div class="p-16">
        <div class="grid p-16">
          <app-game-card *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
          </app-game-card>
          
        </div>
      </div>
      <!-- <app-componente-chat></app-componente-chat> -->
</div>
<app-componente-chat></app-componente-chat>