.card{
    margin-top: 2%;
}
.btn{
    background-color: #faffb8;
}
.btn:hover{
    background-color: #35b0ab !important;
}
.btn:active{
    background: #35b0ab!important;
}
.btn:focus{
    background: #35b0ab!important;
}