<div class="card w-100 imagen" style="width: 18rem;">
    
    <div class="card-body">
        <input class="form-control" placeholder="Ingrese mensaje" type="text" [(ngModel)]="mensaje" >
        <div class="boton">
            <button class="btn btn-outline-secondary" (click)="enviarMensaje()">Enviar</button>
        </div>
    
    </div>
    
    <div *ngIf="mensajeObtenido.length > 0">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li *ngFor=" let mensj of mensajeObtenido" class="nav-item">
                Mensaje: {{mensj.mensaje}}
                
                Email: {{mensj.usuario.email}}
                Usuario: {{mensj.usuario.username}}
                <button class="btn btn-outline-secondary" (click)="deleteMensaje($event,mensj)">Borrar</button>
            </li>
        </ul>
    </div>
</div>
